<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Stock Exchange Quote Service</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
<link rel="icon" type="image/ico" href="http://rubylearning.com/images/favicon.ico" />
</head>

<body>
<div>
<h1>Stock Exchange Quote Service</h1>

<p>Information current as of <%= @stock.row3 %> on <%= @stock.row2 %></p>
<p><b><%= @stock.row0 %>'s</b> last trade was - $<%= @stock.row1 %>  (increase of <%= @stock.row4 %>)</p>
<p>Opened at $<%= @stock.row5 %><br />Range for the day $<%= @stock.row7 %> - $<%= @stock.row6 %></p>

<p><a href="/">Back</a></p>
</div>
<div id="footer">
  <p><b>A Fun Sinatra App by Rubylearning</b>.</p>
</div>
</body>
</html>
